/*下面是花原鰻按鈕*/
.button_yuan{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff9100;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
.button_yuan:hover {
    background-color: #ffae00;
}
/*下面是咖啡色按鈕*/
.button_coffee {
    background-color: rgb(131, 92, 21);
    color: #fff;
    border: none;
    text-emphasis: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}
.button_coffee:hover {
    background-color: rgb(101, 71, 1);
}
/*下面是綠色按鈕*/
        .button_green {
            background-color: #4CAF50; /* 綠色背景 */
            border: none; /* 無邊框 */
            color: white; /* 白色文字 */
            padding: 10px 20px; /* 內邊距 */
            text-align: center; /* 文字置中 */
            text-decoration: none; /* 無下劃線 */
            display: inline-block; /* 行內塊元素 */
            font-size: 16px; /* 字體大小 */
            margin: 4px 2px; /* 外邊距 */
            cursor: pointer; /* 滑鼠指針 */
            border-radius: 50px; /* 圓角 */
        }
        .button_green:hover {
            background-color: #45a049; /* 深綠色背景 */
        }
